@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.card {
  width: 800px;
  height: 800px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
}

h1 {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-weight: 700;
  font-size: 96px;
  color: #5b2386;
  width: 396px;
  height: 106px;
  position: absolute;
  top: 76px;
  left: 202px;
  text-align: center;
}

p {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #5b2386;
  width: 233px;
  height: 40px;
  position: absolute;
  top: 186px;
  left: 284px;
  text-align: center;
}

img {
  width: 433px;
  height: 337px;
  position: absolute;
  top: 255px;
  left: 184px;
}

button {
  font-family: "GmarketSansMedium", sans-serif;
  width: 508px;
  height: 66px;
  position: absolute;
  top: 666px;
  left: 146px;
  border-radius: 56px;
  padding: 21px 49px;
  font-size: 24px;
  font-weight: bold;
  background-color: #fcee21;
  color: #5b2386;
  border: none;
  white-space: nowrap;
  box-shadow: 0px 0px 10px 0px #00000080;
}
